{
    "openapi": "3.1.0",
    "info": {
        "title": "Latitude API",
        "version": "1.0.2"
    },
    "tags": [
        {
            "name": "Documents",
            "description": "Document operations",
            "externalDocs": {
                "description": "Handle documents/prompts in Latitude",
                "url": "https://docs.latitude.so/guides/getting-started/concepts#prompts"
            }
        },
        {
            "name": "Conversations",
            "description": "Conversations operations",
            "externalDocs": {
                "description": "Handle conversations in Latitude",
                "url": "https://docs.latitude.so"
            }
        },
        {
            "name": "Projects",
            "description": "Project operations",
            "externalDocs": {
                "description": "Handle projects in Latitude",
                "url": "https://docs.latitude.so"
            }
        },
        {
            "name": "Versions",
            "description": "Version operations",
            "externalDocs": {
                "description": "Handle versions in Latitude",
                "url": "https://docs.latitude.so/guides/prompt-manager/version-control"
            }
        },
        {
            "name": "Evaluations",
            "description": "Evaluation operations",
            "externalDocs": {
                "description": "Handle evaluations in Latitude",
                "url": "https://docs.latitude.so/guides/evaluations/overview"
            }
        }
    ],
    "security": [
        {
            "Bearer": []
        }
    ],
    "externalDocs": {
        "url": "https://docs.latitude.so",
        "description": "Latitude Documentation"
    },
    "servers": [
        {
            "url": "https://gateway.latitude.so",
            "description": "Latitude"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "token",
                "description": "Latitude API Key"
            }
        },
        "schemas": {},
        "parameters": {}
    },
    "paths": {
        "/webhook/email": {
            "post": {
                "tags": [
                    "Webhooks"
                ],
                "beforeHandle": [
                    null
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "recipient": {
                                        "type": "string"
                                    },
                                    "sender": {
                                        "type": "string"
                                    },
                                    "from": {
                                        "type": "string"
                                    },
                                    "subject": {
                                        "type": "string"
                                    },
                                    "body-plain": {
                                        "type": "string"
                                    },
                                    "stripped-text": {
                                        "type": "string"
                                    },
                                    "stripped-signature": {
                                        "type": "string"
                                    },
                                    "Message-Id": {
                                        "type": "string"
                                    },
                                    "References": {
                                        "type": "string"
                                    },
                                    "token": {
                                        "type": "string"
                                    },
                                    "timestamp": {
                                        "type": "string"
                                    },
                                    "signature": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "recipient",
                                    "sender",
                                    "from",
                                    "subject",
                                    "body-plain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "The request was invalid or cannot be processed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the error"
                                        },
                                        "errorCode": {
                                            "type": "string",
                                            "description": "The error code identifier"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Detailed error message"
                                        },
                                        "details": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "errorCode",
                                        "message"
                                    ],
                                    "description": "Error response for Latitude-specific errors",
                                    "example": {
                                        "name": "LatitudeError",
                                        "errorCode": "LatitudeError",
                                        "message": "A latitude-specific error occurred",
                                        "details": {}
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the error"
                                        },
                                        "errorCode": {
                                            "type": "string",
                                            "description": "The error code identifier"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Detailed error message"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "cause": {
                                                    "type": "object",
                                                    "additionalProperties": true
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "errorCode",
                                        "message"
                                    ],
                                    "description": "Error response for HTTP exceptions",
                                    "example": {
                                        "name": "HTTPException",
                                        "errorCode": "HTTPException",
                                        "message": "Not Found",
                                        "details": {
                                            "cause": "Resource not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request was valid but could not be processed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "description": "The name of the error"
                                                },
                                                "errorCode": {
                                                    "type": "string",
                                                    "description": "The error code identifier"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "description": "Detailed error message"
                                                },
                                                "details": {
                                                    "type": "object",
                                                    "additionalProperties": true
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "errorCode",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "dbErrorRef": {
                                                    "type": "object",
                                                    "properties": {
                                                        "entityUuid": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "description": "UUID of the related entity"
                                                        },
                                                        "entityType": {
                                                            "type": "string",
                                                            "description": "Type of the related entity"
                                                        }
                                                    },
                                                    "required": [
                                                        "entityUuid",
                                                        "entityType"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "dbErrorRef"
                                            ]
                                        }
                                    ],
                                    "description": "Error response for unprocessable entities",
                                    "example": {
                                        "name": "DocumentRunError",
                                        "errorCode": "SomeErrorCode",
                                        "message": "Validation failed",
                                        "details": {},
                                        "dbErrorRef": {
                                            "entityUuid": "123e4567-e89b-12d3-a456-426614174000",
                                            "entityType": "Document"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the error"
                                        },
                                        "errorCode": {
                                            "type": "string",
                                            "description": "The error code identifier"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Detailed error message"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "cause": {
                                                    "type": "object",
                                                    "additionalProperties": true
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "errorCode",
                                        "message"
                                    ],
                                    "description": "Error response for internal server errors",
                                    "example": {
                                        "name": "InternalServerError",
                                        "errorCode": "InternalServerError",
                                        "message": "An unexpected error occurred",
                                        "details": {
                                            "cause": "Null reference exception"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/webhook/integration/:triggerUuid": {
            "post": {
                "tags": [
                    "Webhooks"
                ],
                "beforeHandle": [
                    null
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "name": "triggerUuid",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "description": "Webhook payload (any JSON-serializable value)",
                                "additionalProperties": true
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "The request was invalid or cannot be processed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the error"
                                        },
                                        "errorCode": {
                                            "type": "string",
                                            "description": "The error code identifier"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Detailed error message"
                                        },
                                        "details": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "errorCode",
                                        "message"
                                    ],
                                    "description": "Error response for Latitude-specific errors",
                                    "example": {
                                        "name": "LatitudeError",
                                        "errorCode": "LatitudeError",
                                        "message": "A latitude-specific error occurred",
                                        "details": {}
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the error"
                                        },
                                        "errorCode": {
                                            "type": "string",
                                            "description": "The error code identifier"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Detailed error message"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "cause": {
                                                    "type": "object",
                                                    "additionalProperties": true
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "errorCode",
                                        "message"
                                    ],
                                    "description": "Error response for HTTP exceptions",
                                    "example": {
                                        "name": "HTTPException",
                                        "errorCode": "HTTPException",
                                        "message": "Not Found",
                                        "details": {
                                            "cause": "Resource not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request was valid but could not be processed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "description": "The name of the error"
                                                },
                                                "errorCode": {
                                                    "type": "string",
                                                    "description": "The error code identifier"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "description": "Detailed error message"
                                                },
                                                "details": {
                                                    "type": "object",
                                                    "additionalProperties": true
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "errorCode",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "dbErrorRef": {
                                                    "type": "object",
                                                    "properties": {
                                                        "entityUuid": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "description": "UUID of the related entity"
                                                        },
                                                        "entityType": {
                                                            "type": "string",
                                                            "description": "Type of the related entity"
                                                        }
                                                    },
                                                    "required": [
                                                        "entityUuid",
                                                        "entityType"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "dbErrorRef"
                                            ]
                                        }
                                    ],
                                    "description": "Error response for unprocessable entities",
                                    "example": {
                                        "name": "DocumentRunError",
                                        "errorCode": "SomeErrorCode",
                                        "message": "Validation failed",
                                        "details": {},
                                        "dbErrorRef": {
                                            "entityUuid": "123e4567-e89b-12d3-a456-426614174000",
                                            "entityType": "Document"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the error"
                                        },
                                        "errorCode": {
                                            "type": "string",
                                            "description": "The error code identifier"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Detailed error message"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "cause": {
                                                    "type": "object",
                                                    "additionalProperties": true
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "errorCode",
                                        "message"
                                    ],
                                    "description": "Error response for internal server errors",
                                    "example": {
                                        "name": "InternalServerError",
                                        "errorCode": "InternalServerError",
                                        "message": "An unexpected error occurred",
                                        "details": {
                                            "cause": "Null reference exception"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/webhook/integration/:triggerUuid/:commitUuid": {
            "post": {
                "tags": [
                    "Webhooks"
                ],
                "beforeHandle": [
                    null
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "name": "triggerUuid",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "name": "commitUuid",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "description": "Webhook payload (any JSON-serializable value)",
                                "additionalProperties": true
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "The request was invalid or cannot be processed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the error"
                                        },
                                        "errorCode": {
                                            "type": "string",
                                            "description": "The error code identifier"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Detailed error message"
                                        },
                                        "details": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "errorCode",
                                        "message"
                                    ],
                                    "description": "Error response for Latitude-specific errors",
                                    "example": {
                                        "name": "LatitudeError",
                                        "errorCode": "LatitudeError",
                                        "message": "A latitude-specific error occurred",
                                        "details": {}
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the error"
                                        },
                                        "errorCode": {
                                            "type": "string",
                                            "description": "The error code identifier"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Detailed error message"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "cause": {
                                                    "type": "object",
                                                    "additionalProperties": true
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "errorCode",
                                        "message"
                                    ],
                                    "description": "Error response for HTTP exceptions",
                                    "example": {
                                        "name": "HTTPException",
                                        "errorCode": "HTTPException",
                                        "message": "Not Found",
                                        "details": {
                                            "cause": "Resource not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The request was valid but could not be processed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "description": "The name of the error"
                                                },
                                                "errorCode": {
                                                    "type": "string",
                                                    "description": "The error code identifier"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "description": "Detailed error message"
                                                },
                                                "details": {
                                                    "type": "object",
                                                    "additionalProperties": true
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "errorCode",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "dbErrorRef": {
                                                    "type": "object",
                                                    "properties": {
                                                        "entityUuid": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "description": "UUID of the related entity"
                                                        },
                                                        "entityType": {
                                                            "type": "string",
                                                            "description": "Type of the related entity"
                                                        }
                                                    },
                                                    "required": [
                                                        "entityUuid",
                                                        "entityType"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "dbErrorRef"
                                            ]
                                        }
                                    ],
                                    "description": "Error response for unprocessable entities",
                                    "example": {
                                        "name": "DocumentRunError",
                                        "errorCode": "SomeErrorCode",
                                        "message": "Validation failed",
                                        "details": {},
                                        "dbErrorRef": {
                                            "entityUuid": "123e4567-e89b-12d3-a456-426614174000",
                                            "entityType": "Document"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the error"
                                        },
                                        "errorCode": {
                                            "type": "string",
                                            "description": "The error code identifier"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Detailed error message"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "cause": {
                                                    "type": "object",
                                                    "additionalProperties": true
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "errorCode",
                                        "message"
                                    ],
                                    "description": "Error response for internal server errors",
                                    "example": {
                                        "name": "InternalServerError",
                                        "errorCode": "InternalServerError",
                                        "message": "An unexpected error occurred",
                                        "details": {
                                            "cause": "Null reference exception"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v3/conversations/:conversationUuid/chat": {
            "post": {
                "operationId": "createChat",
                "tags": [
                    "Conversations"
                ],
                "description": "Chat with an existing conversation",
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "Conversation UUID"
                        },
                        "required": true,
                        "description": "Conversation UUID",
                        "name": "conversationUuid",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "__internal": {
                                        "type": "object",
                                        "properties": {
                                            "source": {
                                                "type": "string",
                                                "enum": [
                                                    "api",
                                                    "agent_as_tool",
                                                    "copilot",
                                                    "email_trigger",
                                                    "evaluation",
                                                    "experiment",
                                                    "integration_trigger",
                                                    "playground",
                                                    "scheduled_trigger",
                                                    "shared_prompt",
                                                    "user"
                                                ]
                                            }
                                        }
                                    },
                                    "messages": {
                                        "type": "array",
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "role": {
                                                            "type": "string",
                                                            "enum": [
                                                                "system"
                                                            ]
                                                        },
                                                        "content": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "type": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                    "text"
                                                                                ]
                                                                            },
                                                                            "text": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "type",
                                                                            "text"
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "role",
                                                        "content"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "role": {
                                                            "type": "string",
                                                            "enum": [
                                                                "user"
                                                            ]
                                                        },
                                                        "content": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "type": {
                                                                                        "type": "string",
                                                                                        "enum": [
                                                                                            "text"
                                                                                        ]
                                                                                    },
                                                                                    "text": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "type",
                                                                                    "text"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "type": {
                                                                                        "type": "string",
                                                                                        "enum": [
                                                                                            "image"
                                                                                        ]
                                                                                    },
                                                                                    "image": {
                                                                                        "type": "string",
                                                                                        "description": "Image data as string (URL, base64), Uint8Array, ArrayBuffer, or URL object",
                                                                                        "format": "binary"
                                                                                    },
                                                                                    "mimeType": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "type",
                                                                                    "image"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "type": {
                                                                                        "type": "string",
                                                                                        "enum": [
                                                                                            "file"
                                                                                        ]
                                                                                    },
                                                                                    "file": {
                                                                                        "type": "string",
                                                                                        "description": "File data as string (URL, base64), Uint8Array, ArrayBuffer, or URL object",
                                                                                        "format": "binary"
                                                                                    },
                                                                                    "mimeType": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "type",
                                                                                    "file",
                                                                                    "mimeType"
                                                                                ]
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "role",
                                                        "content"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "role": {
                                                            "type": "string",
                                                            "enum": [
                                                                "assistant"
                                                            ]
                                                        },
                                                        "content": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "string"
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "type": {
                                                                                        "type": "string",
                                                                                        "enum": [
                                                                                            "text"
                                                                                        ]
                                                                                    },
                                                                                    "text": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "type",
                                                                                    "text"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "type": {
                                                                                        "type": "string",
                                                                                        "enum": [
                                                                                            "tool-call"
                                                                                        ]
                                                                                    },
                                                                                    "toolCallId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "toolName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "args": {
                                                                                        "type": "object",
                                                                                        "additionalProperties": true,
                                                                                        "description": "Tool call arguments as key-value pairs"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "type",
                                                                                    "toolCallId",
                                                                                    "toolName",
                                                                                    "args"
                                                                                ]
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "toolCalls": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "arguments": {
                                                                        "type": "object",
                                                                        "additionalProperties": true,
                                                                        "description": "Tool call arguments as key-value pairs"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "name",
                                                                    "arguments"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "role",
                                                        "content"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "role": {
                                                            "type": "string",
                                                            "enum": [
                                                                "tool"
                                                            ]
                                                        },
                                                        "content": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "tool-result"
                                                                        ]
                                                                    },
                                                                    "toolCallId": {
                                                                        "type": "string"
                                                                    },
                                                                    "toolName": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "object",
                                                                        "additionalProperties": true,
                                                                        "description": "Tool result as any JSON-serializable value"
                                                                    },
                                                                    "isError": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "type",
                                                                    "toolCallId",
                                                                    "toolName"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "role",
                                                        "content"
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "stream": {
                                        "type": "boolean",
                                        "default": false
                                    },
                                    "tools": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "default": []
                                    },
                                    "trace": {
                                        "type": "object",
                                        "properties": {
                                            "traceparent": {
                                                "type": "string"
                                            },
                                            "tracestate": {
                                                "type": "string"
                                            },
                                            "baggage": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "traceparent"
                                        ]
                                    }
                                },
                                "required": [
                                    "messages"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Chat was created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "uuid": {
                                            "type": "string"
                                        },
                                        "conversation": {
                                            "type": "array",
                                            "items": {
                                                "anyOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "role": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "system"
                                                                ]
                                                            },
                                                            "content": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string",
                                                                                    "enum": [
                                                                                        "text"
                                                                                    ]
                                                                                },
                                                                                "text": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "type",
                                                                                "text"
                                                                            ]
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "role",
                                                            "content"
                                                        ]
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "role": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "user"
                                                                ]
                                                            },
                                                            "content": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "anyOf": [
                                                                                {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string",
                                                                                            "enum": [
                                                                                                "text"
                                                                                            ]
                                                                                        },
                                                                                        "text": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "type",
                                                                                        "text"
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string",
                                                                                            "enum": [
                                                                                                "image"
                                                                                            ]
                                                                                        },
                                                                                        "image": {
                                                                                            "type": "string",
                                                                                            "description": "Image data as string (URL, base64), Uint8Array, ArrayBuffer, or URL object",
                                                                                            "format": "binary"
                                                                                        },
                                                                                        "mimeType": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "type",
                                                                                        "image"
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string",
                                                                                            "enum": [
                                                                                                "file"
                                                                                            ]
                                                                                        },
                                                                                        "file": {
                                                                                            "type": "string",
                                                                                            "description": "File data as string (URL, base64), Uint8Array, ArrayBuffer, or URL object",
                                                                                            "format": "binary"
                                                                                        },
                                                                                        "mimeType": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "type",
                                                                                        "file",
                                                                                        "mimeType"
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "role",
                                                            "content"
                                                        ]
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "role": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "assistant"
                                                                ]
                                                            },
                                                            "content": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "anyOf": [
                                                                                {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string",
                                                                                            "enum": [
                                                                                                "text"
                                                                                            ]
                                                                                        },
                                                                                        "text": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "type",
                                                                                        "text"
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "type": {
                                                                                            "type": "string",
                                                                                            "enum": [
                                                                                                "tool-call"
                                                                                            ]
                                                                                        },
                                                                                        "toolCallId": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "toolName": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "args": {
                                                                                            "type": "object",
                                                                                            "additionalProperties": true,
                                                                                            "description": "Tool call arguments as key-value pairs"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "type",
                                                                                        "toolCallId",
                                                                                        "toolName",
                                                                                        "args"
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            "toolCalls": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "arguments": {
                                                                            "type": "object",
                                                                            "additionalProperties": true,
                                                                            "description": "Tool call arguments as key-value pairs"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "name",
                                                                        "arguments"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "role",
                                                            "content"
                                                        ]
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "role": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "tool"
                                                                ]
                                                            },
                                                            "content": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "type": {
                                                                            "type": "string",
                                                                            "enum": [
                                                                                "tool-result"
                                                                            ]
                                                                        },
                                                                        "toolCallId": {
                                                                            "type": "string"
                                                                        },
                                                                        "toolName": {
                                                                            "type": "string"
                                                                        },
                                                                        "result": {
                                                                            "type": "object",
                                                                            "additionalProperties": true,
                                                                            "description": "Tool result as any JSON-serializable value"
                                                                        },
                                                                        "isError": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "type",
                                                                        "toolCallId",
                                                                        "toolName"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "role",
                                                            "content"
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        "response": {
                                            "oneOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "streamType": {
                                                            "type": "string",
                                                            "enum": [
                                                                "text"
                                                            ]
                                                        },
                                                        "text": {
                                                            "type": "string"
                                                        },
                                                        "usage": {
                                                            "type": "object",
                                                            "properties": {
                                                                "completionTokens": {
                                                                    "type": "number"
                                                                },
                                                                "promptTokens": {
                                                                    "type": "number"
                                                                },
                                                                "totalTokens": {
                                                                    "type": "number"
                                                                }
                                                            }
                                                        },
                                                        "toolCalls": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "arguments": {
                                                                        "type": "object",
                                                                        "additionalProperties": true,
                                                                        "description": "Tool call arguments as key-value pairs"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "name",
                                                                    "arguments"
                                                                ]
                                                            }
                                                        },
                                                        "cost": {
                                                            "type": "number"
                                                        }
                                                    },
                                                    "required": [
                                                        "streamType",
                                                        "text",
                                                        "usage",
[...]
